Git-SlackOnCrash.iml
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.gradle/3.3/tasks/_slackoncrash_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
.gradle/3.3/tasks/_slackoncrash_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
.gradle/3.3/tasks/_slackoncrash_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
.gradle/3.3/tasks/_slackoncrash_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/android_database_sqlcipher_3_5_4.xml
.idea/libraries/animated_vector_drawable_26_0_0_alpha1.xml
.idea/libraries/appcompat_v7_26_0_0_alpha1.xml
.idea/libraries/constraint_layout_1_0_2.xml
.idea/libraries/constraint_layout_solver_1_0_2.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/gson_2_3_1.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/hamcrest_integration_1_3.xml
.idea/libraries/hamcrest_library_1_3.xml
.idea/libraries/javawriter_2_1_1.xml
.idea/libraries/javax_annotation_api_1_2.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/jsr305_2_0_1.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/logging_interceptor_3_8_1.xml
.idea/libraries/okhttp_3_8_1.xml
.idea/libraries/okio_1_13_0.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/support_annotations_26_0_0_alpha1.xml
.idea/libraries/support_compat_26_0_0_alpha1.xml
.idea/libraries/support_core_ui_26_0_0_alpha1.xml
.idea/libraries/support_core_utils_26_0_0_alpha1.xml
.idea/libraries/support_fragment_26_0_0_alpha1.xml
.idea/libraries/support_media_compat_26_0_0_alpha1.xml
.idea/libraries/support_v4_26_0_0_alpha1.xml
.idea/libraries/support_vector_drawable_26_0_0_alpha1.xml
build/android-profile/profile-2017-10-23-01-04-02-993.rawproto
build/android-profile/profile-2017-10-23-01-23-47-399.rawproto
build/android-profile/profile-2017-10-23-01-23-49-967.rawproto
build/android-profile/profile-2017-10-23-01-24-07-557.rawproto
build/android-profile/profile-2017-10-23-01-25-08-036.rawproto
build/android-profile/profile-2017-10-23-01-25-20-727.rawproto
build/android-profile/profile-2017-10-23-01-35-35-087.rawproto
build/android-profile/profile-2017-10-23-01-35-53-705.rawproto
build/android-profile/profile-2017-10-23-01-39-04-051.rawproto
build/android-profile/profile-2017-10-23-01-39-05-154.rawproto
build/android-profile/profile-2017-10-23-02-03-33-520.rawproto
build/android-profile/profile-2017-10-23-02-03-35-494.rawproto
build/android-profile/profile-2017-10-23-02-03-59-902.rawproto
build/android-profile/profile-2017-10-23-02-04-00-663.rawproto
build/generated/mockable-android-26.jar
build/intermediates/dex-cache/cache.xml
